*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: auto;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    background: url('images/desktop/image-header.jpg') no-repeat bottom;
    background-size: cover;
    padding: 50px;
    padding-left: 30px;
    height: 750px;
}
header ul {
    color: white;
    position: relative;
    float: right;
    top: -5px;
    margin: 29px;
}
header ul li {
    display: inline;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}
.hamburger{
    visibility: hidden;
}
.arrow{
    transform: translateX(44.5vw);
}
header .title{
    text-align: center;
    color: white;
    margin: 60px;
    margin-top: 140px;
    margin-right: 76px;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.list-contact{
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0;
}
.list-contact:hover {
    background-color: #6eceff;
}
.list-contact:hover a {
    color: white;
    width: 100%;
}
.list-contact a{
    width: 100%;
    color: black;
    scroll-behavior: smooth;
}
header .logo{
    width: 150px;
}
li a {
    text-decoration: none;
    color: white;
    transition: 0;
}
.stay{
    z-index: 1000;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: -30px;
    margin-top: 0px;
    position: fixed;
    top: 0;
    padding-top: 25px;
    background-color: #3dbeff;
}
/* ----------- header End ---------- */
.projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.projects h1{
    margin: 30px 0;
    font-size: 40px;
}
.projects p{
    margin: 30px 0;
    line-height: 2;
}
.projects img {
    width: 50%;
    
}
.projects div {
    width: 50%;
    height: 699px;
    display: inline-block;
    padding:10%;
}
.projects .graphic {
    background: url('images/desktop/image-graphic-design.jpg') no-repeat right;
}
.projects .photography {
    background: url('images/desktop/image-photography.jpg') no-repeat top;
}
.projects .photography , .projects .graphic {
    width: 50%;
    height: 699px;
    background-size: cover;
    padding: 0;
    text-align: center;
}
.more::after{
position: absolute;
width: 100px;
height: 100px;
}
.projects .photography p , .projects .photography h1 , .projects .graphic p, .projects .graphic h1{
    position: relative;
    top: 400px;
    margin: auto;
    width: 344px;
} 
.first-project{
    display: inline-block;
    width: 50%;

}
/* ------------------------------------ */
.about{
    display: flex;
    text-align: center;
    margin: 30px;
    margin-left: 90px;
    
}
.aboutTitle{
    margin-top: 36px;
    position: relative;
    left: 38%;
    display: inline-block;
    color: #9d9d9d;
}
.about img {
    border-radius: 50%;
}
.about div{
    width: 357px;
    margin: 20px;
    margin-bottom: 100px;;
}
.about div p{
    margin: 60px 0;
    font-size: 18px;
    line-height: 2;
    color: #606060;
}
.about .jop{
    margin: 10px;
    color: #9b9b9b;
    font-size: 15px;
}
/* -------------------------- */
.lastImg{
    display: flex;
}
.lastImg img{
    width: 25%;
}
/* ------------------------- */
footer{
    background-color: #90d4c5;
    text-align: center;
    padding:70px;
    padding-bottom: 20px;
}

footer ul li {
    color: #4c9081;
    font-weight: lighter;
    display: inline;
    margin: 20px;
    font-size: 18px;
    cursor: pointer;
}
footer .logo{
    margin: 10px;
    margin-bottom: 50px;
    width: 150px;
}
.Contact{
    margin: 70px;
}
.Contact img{
    margin-left: 20px;
    cursor: pointer;
}
/* -------------------------------------- */

@media (max-width:900px){
    .hamburger{
        visibility: visible;
        position: absolute;
        left: 75%;
        top: 50%;
        }
    .list-contact{
        background-color: yellow;
    }
    header ul {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 35%;
        left: 25%;
        top: 10%;
        visibility: hidden;
        transition: 0;
    }
    header ul li a {
        color: #4c9081;
        transition: 0;
    }
    header{
        height: 550px;
    }
    header .title{
        font-size: 40px;
        margin-top: 70px;
    }
    .arrow{
        transform: translateX(45.5vw);
    }
    header ul li {
        margin: 10px;
        transition: 0;
    }
    .projects div {
        height: 440px;
    }
    .projects h1 {
        margin: 0px 0;
        font-size: 35px;
    }
    .projects p {
        margin: 10px 0;
        line-height: 1.5;
    }
    .projects .photography p , .projects .photography h1 , .projects .graphic p, .projects .graphic h1{
        position: relative;
        top: 274px;
        margin: auto;
        width: 344px;
        margin-bottom: 20px;
    }
    .projects .photography, .projects .graphic{
        height: 440px;
    }
    .about div p {
        font-size: 15px;
    }
}
@media (max-width:550px){
    .projects .photography p, .projects .photography h1, .projects .graphic p, .projects .graphic h1{
        width: 100%;
    }
    .ulist{
        visibility: visible;
    }
    header ul {
        visibility: hidden;
    }
    .projects div {
        height: 320px;
        width: 100%;
        padding: 20px;
        padding-top: 75px;
        text-align: center;
    }
    .arrow{
        transform: translateX(40.5vw);
    }
    .projects h1 {
        font-size: 20px;
    }
    .projects img {
        width: 100%;
    }
    .projects p {
        margin: 5px 0;
        line-height: 1.4;
        font-size: 14px;
    }
    .aboutTitle{
        left: 10%;
        letter-spacing: 3px;
        font-size: 25px;
    }
    .projects .photography, .projects .graphic{
        width: 100%;
    }
    .about{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 30px;
    }
    .about div {
        width: auto;
        margin: 0px;
        margin-bottom: 100px;
    }
    .lastImg{
        display: flex;
        flex-wrap: wrap;
    }
    .lastImg img{
        width: 50%;
    }
    .about div p {
        font-size: 15px;
        margin: 30px 0;
    }
    .about div {
        margin-bottom: 30px;
    }
    header .title {
        font-size: 40px;
        text-align: center;
        margin: 0;
        margin-top: 75px;
        margin-bottom: 45px;
    }
    footer ul li{
        margin: 20px;
    } 
    footer ul {
        width: 177%;
        transform: translatex(-20%);
    } 
    .Contact{
        margin: 40px;
    }
    .Contact img {
        margin-left: 5px;
    }
    .projects .graphic {
        background: url('images/desktop/image-graphic-design.jpg') no-repeat center;
        background-size: cover;
    }
    footer .footerList a{
        color: #4c9081;
    }
    .hamburger{
    visibility: visible;
    position: absolute;
    left: 75%;
    top: 50%;
    }
}
